@import url('https://fonts.maateen.me/kalpurush/font.css');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
a {text-decoration: none !important;}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #cfcfcf !important;
}
.navBar{
    background-color: #2b2f5b;
    box-shadow: 0px 3px 11px 0px #22344b;
}
.logo{
    font-family: 'Faster One', cursive;
    background-color: #ffffffd1;
    color: #2b2f5b;
    padding: 8px 15px;
    font-size: 21px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #2b2f5b;
    padding: 5px 20px;
}
.btn-outline-light:hover {
    color: #08cc7f !important;
}
.bg{
    background: linear-gradient( rgb(0 0 0 / 23%), rgb(0 0 0 / 88%) ), url('./iamges/basic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: grid;
    align-items: center;
    
}
.bgSystem{
    background: linear-gradient( rgb(0 0 0 / 23%), rgb(0 0 0 / 88%) ), url('./iamges/system.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: grid;
    align-items: center;
    
}

.bgColor{background: #cee9ff;}
.post {
    padding: 10px;
    box-shadow: 0px 0px 12px -2px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
}
.post h2{
    color: #0079f2;
}
.post small {
    text-align: center;
    padding: 2px 6px;
    color: rgb(124, 124, 124);
    font-weight: bold;
}
.post img{
    width: 100%;
    border-radius: 10px;
}
.dot {
    font-size: 25px;
    margin-top: -7px;
}
.post h6{
    width: 115px;
    color: rgb(124, 124, 124);
    text-align: center;
    padding: 2px;
}
.post p {
    font-family: kalpurush;
    color: #363636;
}
.task {
    font-size: 14px;
}
.mainImg{
    width: 100%;
    height: 500px;
}
h1{
    font-size: 2.7rem;
}
.nav-link{
        padding-right: 2rem !important;
        color: #ffffff !important;
        font-weight: 500;
}
.navbar-brand{
    font-weight: 800;
    padding: 3px 4px 3px 0;
    border: 1px solid #ffffffd1;
}
.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.about{
    margin-top: 30px;
    margin-bottom: 30px;
}

.myForm{
    overflow: hidden;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
.color{
    position: absolute;
    filter: blur(150px);
}

.color{
    bottom: 50px;
    right: 100px;
    width: 500px;
    height: 500px;
    background: #00d2ff;
}

.dform{
    padding:10% 30%;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 45px rgba(56, 56, 56, 0.144);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
input, textarea {
    background: rgba(255, 255, 255, 0.2) !important;
    border: none !important;
    outline: none !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
    border-radius: 20px !important;
}
textarea::placeholder, input::placeholder{
    color: #fff !important;
}
textarea:focus, input:focus {
    border: 2px solid #65dce8 !important;
}
.myBtn{
    width: 100%;
    color:#4c949ba4;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
    border-radius: 20px;
    padding: 7px 0;

}
.myBtn:hover{
    background: #65dce8;
    color: #fff;
    transition: all 0.5s;
}
@media (min-width: 1305px) {
    .width{
    margin-left: 48%;
    }
}
@media (max-width: 767px) {
    a.nav-link:hover {
        color: #062265 !important;
        background-color: #ffffff40;
        font-weight: 500;
        transition: all 0.5s;
        padding: 10px;
    }
    .bg{height: 300px;}
    .mainImg {
        height: 300px;
    }
    .dform{
        padding: 5% 10%;
    }
}
@media (max-width: 500px) {
.mainImg {
    height: 250px;
}
}
@media (min-width: 768px) and (max-width: 991px){
    .bg, .bgSystem{height: 400px;}
}
@media (max-width: 500px){
.bg, .bgSystem {
    height: 250px;
}
.dform {
    padding: 5% 10px;
}
}
@media (min-width: 922px){
    textarea::placeholder, input::placeholder{
        color: #4c949ba4 !important;
    }
}